<!DOCTYPE html>
{{ define "trashday/detail.html" }}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>[TrashDay]Detail</title>
</head>
<body>
    <h1>[TrashDay]Detail</h1>
    <form method="POST">
        <p>ID: {{ .td.TrashDayId }}<input type="hidden" name="id" value="{{ .admin.AdminId }}" /></p>
        <p>Day: <input type="text" name="day" value="{{ .td.Day }}"></p>
        <p>Trash: <input type="text" name="trash" value="{{ .td.Trash }}"></p>
        <input type="submit" formaction="/trash-day/update" value="Update" />
        <input type="submit" formaction="/trash-day/delete" value="Delete" />
    </form>
</body>
</html>
{{ end }}
