<!DOCTYPE html>
<html lang="ja">
{{ define "trashday/index.html" }}
<head>
    <meta charset="UTF-8">
    <title>[TrashDay]Register</title>
</head>
<body>
    <h1>[TrashDay]Register</h1>
    <form method="POST" action="/trash-day/create">
        <p>Day: <input type="text" name="day" value=""></p>
        <p>Trash: <input type="text" name="trash" value="" ></p>
        <input type="submit" value="Register">
    </form>
    <hr>
    <table border="1">
        {{ range .tds }}
            <tr>
                <td>ID:<a href ="/trash-day/{{.TrashDayId}}">{{.TrashDayId}}</a></td>
                <td>Day: {{ .Day }}</td>
                <td>Trash: {{ .Trash }}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>
{{ end }}