<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者詳細</title>
</head>
<body>
    <h1>管理者の詳細</h1>
    <form method="POST">
        <p>ID: <input type="text" name="id" value="{{.admin.ID }}"></p>
        <p>名前: <input type="text" name="name" value="{{ .admin.Name }}"></p>
        <p>Eメール: <input type="text" name="email" value="{{ .admin.Email }}"></p>
        <p>パスワード: <input type="text" name="password" value="{{ .admin.Password }}"></p>
        <input type="submit" formaction="/admin/update" value="更新" />
        <input type="submit" formaction="/admin/delete" value="削除" />
    </form>
</body>
</html>
