{{define "admin/detail.html"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>[Admin]Detail</title>
</head>
<body>
    <h1>[Admin]Detail</h1>
    <form method="POST">
        <p>ID: {{ .admin.AdminId }} <input type="hidden" name="id" value="{{ .admin.AdminId }}" /></p>
        <p>Name: <input type="text" name="name" value="{{ .admin.Name }}" /></p>
        <p>Email: <input type="text" name="email" value="{{ .admin.Email }}" /></p>
        <p>Password: <input type="text" name="password" value="" /></p>
        <input type="submit" formaction="/admin/update" value="Update" />
        <input type="submit" formaction="/admin/delete" value="Delete" />
    </form>
</body>
</html>
{{ end }}
