{{define "admin/index.html"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>[Admin]Register</title>
</head>
<body>
    <h2>[Admin]Register</h2>
    <form method="POST" action="/admin/create">
        <p>Name: <input type="text" name="name" value=""></p>
        <p>Email: <input type="text" name="email" value=""></p>
        <p>Password: <input type="text" name="password" value=""></p>
        <input type="submit" value="作成">
    </form>
    <hr>
    <table border="1">
        {{ range .admins }}
            <tr>
                <td>ID: <a href="/admin/{{ .AdminId }}">{{ .AdminId }}</a></td>
                <td>Name: {{ .Name }}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>
{{ end }}

