{{define "admin/index.html"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者登録</title>
</head>
<body>
    <h1>管理者登録</h1>
    <form method="POST" action="/admin/create">
        <p>名前: <input type="text" name="name" value=""></p>
        <p>Eメール: <input type="text" name="email" value=""></p>
        <p>パスワード: <input type="text" name="password" value=""></p>
        <input type="submit" value="登録">
    </form>
    <hr>
    <table>
        {{ range .admins }}
            <tr>
                <td>ID: <a href="/admin/{{ .AdminId }}">{{ .AdminId }}</a></td>
                <td>名前: {{ .Name }}</td>
                <td>Eメール: {{ .Email }}</td>
                <td>パスワード: {{ .Password }}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>
{{ end }}

