{{ define "comment/detail.html" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>[Comment]Detail</title>
</head>
<body>
    <h1>[Comment]Detail</h1>
    <form method="POST">
        <p>ID: {{ .comment.CommentId }}<input type="hidden" name="id" value="{{ .comment.CommentId }}"></p>
        <p>Comments: <input type="text" name="contents" value="{{ .comment.Contents }}"></p>
        <input type="submit" formaction="/comment/update" value="Update">
        <input type="submit" formaction="/comment/delete" value="Delete">
    </form>
</body>
</html>
{{ end }}