{{ define "comment/index.html" }}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>[Comment]Register</title>
</head>
<body>
  <h1>[Comment]Register</h1>
  <form method="POST" action="/comment/create">
    <p>Contents: <input type="text" name="contents" value=""></p>
    <input type="submit" value="Register">
  </form>
  <hr border="1">
  <table>
    {{ range .comments }}
      <tr>
        <td>ID: <a href="/comment/{{ .CommentId }}">{{ .CommentId }}</a></td>
        <td>Contents: {{ .Contents }}</td>
      </tr>
    {{ end }}
  </table>
</body>
</html>
{{ end }}
